<style>
  .divisor-content {
    width: 100%;
    background: #22272b;
    height: 10px;
  }
</style>
<div class="divisor-content"></div>

{% schema %}
{
  "name": "Divisor",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "presets": [
    {
      "name": "Divisor"
    }
  ]
}
{% endschema %}
